#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 0 10px;
  margin: 0 10px;
  border: solid;
}
